@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.title-heading{
  font-size: x-large;
  color: yellow;
}


/* //MainPage-Style */
.main-heading {
  
  position: fixed;
   text-align: center;
  top: 0;
  width: 640px;
  padding: 10px;
  color: #F3F5F7;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0a0a0a;
  margin-left:420px; 
}

.main-posts-container {
  background-color: #181818;
  padding-top: 10px;
  height: auto;
  width: 640px;
  border-radius: 16px;
}

.main-new-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  border-bottom: #383939 1px solid;
}

.main-new {
  color: #696969;
  padding: 10px 1px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.main-dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main-post-button {
  background-color: #181818;
  border: 1px solid #383939;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 65px;
  margin-top: 15px;
  border-radius: 12px;
  cursor: pointer;
  color: #F3F5F7;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-post-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.main-post-item {
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-bottom: gray 0.5px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.main-post-user {
  display: flex;
  width: 100%;
}

.main-profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}


.main-username-time {
  margin-left: 10px;
  display: flex;
  gap: 10px;
  color: #777777;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-post-text {
  text-align: left;
  margin-left: 10px;
  margin-top: 1px;
  color: #F3F5F7;
}

.main-post-image {
  width: 50%;
  height: 50%;
  margin-left: 50px;
  object-fit: cover;
  border-radius: 8px;
  align-self: flex-start;
}

.main-profile-name {
  color: #F3F5F7;
  font-weight: bold;
  margin-left: 0px;
  margin-top: -1px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-profile-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-profile-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}
.main-post-icons{
  display: flex;
  padding: 10px;
  padding-right: 480px;
 
}
